<div class="container mt-4">
  <div class="col-12 card">
    <p class="card-header">{{ 'Header.Title' | translate }}</p>
    <p class="description">
      {{ 'Header.Description1' | translate }} <a [href]="dataSetLink">{{dataSetName}}</a> {{ 'Header.Description2' | translate }}
      <a class="loadDefault" (click)="loadDefault()">{{ 'Header.Example' | translate }}
      </a>
    </p>
    <a class="saveIcon pageableLoad" (click)="getDataFromPageable()" [title]="'Header.Load' | translate">
      <mat-icon>assessment</mat-icon>
    </a>
  </div>

  <div class="col-12 flexible">
    <div class="col-6"  *ngFor="let chart of charts">
      <form [formGroup]="chart.form" class=card>
        <p class="card-header btm-line">{{chart.form.value.name}}</p>
        <canvas #canvas></canvas>
        <a class="openSettings" [ngClass]="{ 'opened': chart.form.value.showedConfig }" (click)="switchState(chart.form)"[title]="'Charts.Edit' | translate">
          <mat-icon>settings</mat-icon>
        </a>
        <div class="col-12 top-line flexible chart-settings" *ngIf="chart.form.value.showedConfig">
          <div class="col-6">
            <label for="type">{{ 'Charts.Type' | translate }}</label>
            <select formControlName="type" class="form-control">
              <option *ngFor="let chart of chartTypes" [value]="chart.type" [title]="'Charts.Descriptions.'+chart.type | translate">{{ 'Charts.Types.'+chart.type | translate }}</option>
            </select>
          </div>
        
          <div class="col-6">
            <label for="name">{{ 'Charts.Name' | translate }}</label>
            <input formControlName="name" class="form-control"/>
          </div>
        
          <div class="col-6">
            <label for="title">{{ 'Charts.Title' | translate }}</label>
            <input formControlName="title" class="form-control"/>
          </div>
        
          <div class="col-6">
            <label for="data">{{ 'Charts.Data' | translate }}</label>
            <input formControlName="data" class="form-control" />
          </div>
        
          <div class="col-6">
            <label for="labels">{{ 'Charts.Labels' | translate }}</label>
            <input formControlName="labels" class="form-control"/>
          </div>
        
          <a class="saveIcon" (click)="reloadCanvas(chart)" [title]="'Charts.Save' | translate">
            <mat-icon>save</mat-icon>
          </a>
          <a class="saveIcon deleteIcon" (click)="deleteCanvas(chart)" [title]="'Charts.Delete' | translate">
            <mat-icon>delete</mat-icon>
          </a>
        </div>
        
        
      </form>
    </div>
    <div class="col-6 card addNew" (click)="addNext()" [title]="'Charts.Add' | translate">
      <a>
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </div>
</div>
