<div class="container mt-4">
  <div class="col-12 card">
    <p class="card-header">Informacje</p>
    <p class="description">
      Projekt pod tytułem "Analiza danych samochodów używanych z elementami statystyki oraz wizualizacji danych" z wykorzystaniem frameworku Angular z backendem w technologii .Net. Używamy w projekcie datasetu <a [href]="usedDataSet">Used Car Dataset</a> do przedstawienia możliwości przygotowanego rozwiązania. Elementy przedstawiane na każdym z diagramów są edytowalne.
    </p>
  </div>

  <div class="col-12 flexible">
    <div class="col-6"  *ngFor="let chart of charts">
      <form [formGroup]="chart.form" class=card>
        <p class="card-header btm-line">{{chart.form.value.name}}</p>
        <canvas #canvas></canvas>
        <a class="openSettings" [ngClass]="{ 'opened': chart.form.value.showedConfig }" (click)="switchState(chart.form)">
          <mat-icon>settings</mat-icon>
        </a>
        <div class="col-12 top-line flexible chart-settings" *ngIf="chart.form.value.showedConfig">
          <div class="col-6">
            <label for="type">Typ wykresu</label>
            <select formControlName="type" class="form-control">
              <option *ngFor="let chart of chartTypes" [value]="chart.type">{{ chart.title }}</option>
            </select>
          </div>
        
          <div class="col-6">
            <label for="name">Nazwa diagramu</label>
            <input formControlName="name" class="form-control"/>
          </div>
        
          <div class="col-6">
            <label for="title">Tytuł diagramu</label>
            <input formControlName="title" class="form-control"/>
          </div>
        
          <div class="col-6">
            <label for="data">Dane</label>
            <input formControlName="data" class="form-control" />
          </div>
        
          <div class="col-6">
            <label for="labels">Podpisy danych</label>
            <input formControlName="labels" class="form-control"/>
          </div>
        
          <a class="saveIcon" (click)="reloadCanvas(chart)">
            <mat-icon>save</mat-icon>
          </a>
          <a class="saveIcon deleteIcon" (click)="deleteCanvas(chart)">
            <mat-icon>delete</mat-icon>
          </a>
        </div>
        
        
      </form>
    </div>
    <div class="col-6 card addNew" (click)="addNext()">
      <a>
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </div>
</div>
